{% extends "base.html" %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block login %}<li class="active"><a ref="{% url signin %}">Login</a></li>{% endblock login %}

{% block head %}Login to your account{% endblock %}

{% block content %}

<div class="container-fluid login">
    <div class="row-fluid">
        <div class="login-form">
            {% if errors %}
            <div class="alert alert-error">
            {{ errors }}
            </div>
            {% endif %}
               <form action="{% url signin %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
              {% if not field.is_hidden %}
              <div class="input-group">
                {% if field.errors %}{{ field.errors }}{% endif %}
             
                   <label>{{ field.label }}:</label> 
                   <div class="input">{{ field }}</div>
               </div>
              {% else %}
                {{ field }}
              {% endif %}
            {% endfor %}
            <!-- <div class="forgot-password"> -->
            <!--   <a href="">Forgot Password?</a> -->
            <!-- </div> -->
            <div class="btn-login">
	            <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <!-- <input type="submit" /> -->
          </form>
        </div>
    </div>
</div>
{% endblock content %}
