{% extends "base.html" %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block signup %}<li class="active"><a href="{% url signup %}">Signup</a></li>{% endblock signup %}

{% block head %}Choose an account{% endblock %}

{% block content %}
<div class="container-fluid request-signup">
    <div class="row-fluid">
        <div class="request-signup-content">
          <a href="{% url signup 'provider' %}" class="btn-primary">I am a Provider</a> Or <a href="{% url signup 'employer' %}" class="btn">I am an Employer</a>
        </div>
    </div>
</div>
{% endblock content %}
