{% extends "base.html" %}

{% block signup %}<li class="active"><a href="{% url signup %}">Signup</a></li>{% endblock signup %}

{% block head %}Signup for a new account{% endblock %}

{% block content %}
<div class="container-fluid signup">
    <div class="row-fluid">
        <div class="signup-content">
          <form action="{% url signup %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
              {% if not field.is_hidden %}
               <div class="input-group">
              {% if field.errors %}{{ field.errors }}{% endif %}
               
                    <div class="label">
	                    {{ field.label }}:
                    </div>
                    <div class="input">
                    	{{ field }}
                    </div>
                </div>
              {% else %}
                {{ field }}
              {% endif %}
            {% endfor %}
            <div class="actions">
              <button type="reset" class="btn">Reset</button>&nbsp;<input type="submit" class="btn btn-primary" value="Submit">
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock content %}
