{% extends "base.html" %}

{% block post_article %}<li class="active"><a href="{% url add-article %}">Post an Article</a></li>{% endblock post_article %}

{% block head %}About your Article{% endblock %}

{% block content %}
<div class="container-fluid article-addition">
    <div class="row-fluid">
      <div class="add-article">
          <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
              {% if not field.is_hidden %}
               <div class="input-group">
              {% if field.errors %}{{ field.errors }}{% endif %}
              
                    <div class="label">
                {{ field.label }}:
                 </div>
                    <div class="input">
                 {{ field }}
                 </div>
                </div>
              {% else %}
                {{ field }}
              {% endif %}
            {% endfor %}
            <div class="actions">
              <button type="reset" class="btn">Reset</button>&nbsp;<input type="submit" class="btn btn-primary" value="Submit">
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock content %}
