{% extends "base.html" %}

{% block home %}<li class="active"><a href="{% url home %}">Home</a></li>{% endblock home %}

{% block content %}
 <!-- Article details come here.. -->
 <div class="article-description">
  <div class="article-info-wrapper">
    <div class="article-brief">
      <h3>{{ article.title }}</h3>
      <p class="article-added-date">Posted on {{ article.created_at|date:"F d, Y" }}</p>
      <div class="brief">
        <p>{{ article.description }}</p>
      </div> 
      <br />
      <p><b>Posted by: <a href="{% url get-user-articles article.created_by.username %}">{{ article.created_by.username }}</a></b></p>
    </div>
    <div class="article-status">
      <p class="responses">{{ total_response.count }} People responded</p>
      {% ifequal article.created_by.email user.email %}
      <div class="actions">
        <a href="{% url edit-article article.slug %}"><input type="submit" value="Edit" class="btn btn-primary"></a>&nbsp;
        <a href="{% url delete-article article.slug %}" id="delete-article"><button class="btn" type="reset">Delete</button></a>
      </div>
      {% endifequal %}
    </div>
  </div> 
  <div class="budget">
    <a class="respond" data-toggle="modal" id="in-reply-to_" href="#myModal">Respond to this Article</a>
  </div>
 <!-- article information ends here -->
 <!-- response section starts here -->
 {% if user.is_authenticated %}
  {% include "blog/article-response.html" %}
   <!--sunmit response section goes here 
   <div class="submit-responses"> 
     <div class="resposne-header"><h3>Post your responses</h3> </div> 
     <div class="actions"> 
       <input type="submit" value="Submit" class="btn btn-primary"> 
       </div> 
     </div> -->
   <div class="modal hide fade" id="myModal">
     <div class="modal-header">
       <a data-dismiss="modal" class="close" href="#">x</a>
       <h3>Post your response</h3>  
     </div>
     <div class="modal-body">
       <div class="error-modal">This field is required.</div>
       <textarea id="response-text" style="resize: none;"></textarea>
     </div>
     <div class="modal-footer">
       <input type="hidden" name="in-reply-to" value="" />
       <a href="#" class="btn" data-dismiss="modal">Close</a>
       <a href="#" id="submit-response" class="btn btn-primary">Submit response</a>
     </div>
   </div>
 </div> 
{% endif %}
 <input type="hidden" value="{{ user.is_authenticated }}" name="is-authenticated"/ >
 <input type="hidden" name="article-slug" value="{{ article.slug }}" />
</div>
{% endblock content %}

{% block extra_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-collapse.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-transition.js"></script>
<script src="{{ MEDIA_URL }}js/main.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-modal.js"></script>
{% endblock extra_js %}
