<div class="response-wrapper"> 
  <div class="responses"> 
    <div class="resposne-header"><h3>Response ({{ total_response.count }})</h3></div> 
    {% for response in total_response %}
    {% if not response.in_reply_to %}
    <div class="resposes-base-alternate"> 
      <div class="responder-info"> 
        <div class="name"> 
          <b>{{ response.created_by.username }}&nbsp;says: </b><br/>
          <span>{{ response.created_at|date:"F d, Y" }}</span>
        </div> 
        <div class="actions">
          <a data-toggle="modal" id="in-reply-to_{{ response.id }}" href="#myModal">Reply</a>
        </div>
      </div>  
      <div class="response-copy"> 
        <p>{{ response.text }}</p> 
      </div> 
      {% for reply in response.replies %}
      <ul class="replies">
        <li><div class="resposes-base">
          <div class="responder-info">
            <div class="name">
              <b>{{ reply.created_by.username }}&nbsp;says: </b><br/><span>{{ reply.created_at|date:"F d, Y" }}</span>
            </div>
            <div class="actions">
              <a data-toggle="modal" id="in-reply-to_{{ response.id }}" href="#myModal">Reply</a>
            </div>
          </div>
          <div class="response-copy">
            <p>{{ reply.text }}</p>
          </div>
        </li>
      </ul>
      {% endfor %}
    </div> 
    {% endif %}
{% endfor %}
</div>  
