{% extends "base.html" %}
{% load blog_tags %}

{% block home %}<li class="active"><a href="{% url home %}">Home</a></li>{% endblock home %}

{% block head %}{{ sub_title }}{% endblock %}

{% block content %}
<div class="container-fluid index">
  <div class="row-fluid">
    {% for obj in results.object_list %}
      <div class="articles-base">
        <div class="article-count">
          {{ results.number|get_counter:forloop.counter }}.
        </div>
        <div class="article-detail">
          <h3><a href="{% url article-detail obj.slug %}">{{ obj.title }}.</a></h3>
          <p class="add-date">{% if user_gigs %}Status: {{ gig.formatted_status }} -- {% endif %}Posted on {{ gig.created_at|date:"F d, Y" }} <a href="{% url article-detail obj.slug %}" class="more-details">More details</a></p>
        </div>
      </div>
    {% endfor %}

    {% if results.paginator.count > 10 %}
    <div class="pagination">
      <ul>
        <li>{% if results.has_previous %}
                <a href="?{{ results.previous_page_number.querystring }}">Prev</a>
            {% else %}
                <a href="#.">Prev</a>
            {% endif %}
        </li>
        {% for page in results.pages %}
            {% ifequal page results.number %}
              <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
              <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
            {% endifequal %}
        {% endfor %}
        <li>
          {% if results.has_next %}
            <a href="?{{ results.next_page_number.querystring }}">Next</a>
          {% else %}
            <a href="#.">Next</a>
          {% endif %}
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
