<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Tatooine -- A simplest blogging application.</title>

<meta name="viewport" content="width=device-width">
<meta name="description" content="">
<meta name="keywords" value="">

<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<!--link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.css"-->
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div class="wrapper">
<header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        
        <a id="logo" href="{% url home %}" title="" class="brand">Tatooine</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% block home %}<li><a href="{% url home %}">Home</a></li>{% endblock home %}
              {% block post_article %}<li><a href="{% url add-article %}">Post an Article</a></li>{% endblock post_article %}
              {% if user.is_authenticated %}
                {% block my_blog %}<li><a href="{% url get-articles %}">My articles</a></li>{% endblock my_blog %}
                {% block logout %}<li><a href="{% url signout %}">Logout</a></li>{% endblock logout %}
              {% else %}
                {% block login %}<li><a href="{% url signin %}">Login</a></li>{% endblock login %}
                {% block signup %}<li><a href="{% url signup %}">Signup</a></li>{% endblock signup %}
              {% endif %}
            </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <h2>{% block head %}{% endblock %}</h2>

{% block content %}

{% endblock content %}

{% block footer %}

<footer>
<hr />
    <p>
        <small>
            Copyright &copy; 2012. All Rights Reserved.
            <!-- <span class="pull-right"> -->
            <!--     <a href="#." title="">About</a> -->
            <!--     <a href="#." title="">Contact</a> -->
            <!-- </span> -->
        </small>
    </p>    
</footer>
</div>
{% endblock footer %}

{% block extra_js %}
{% endblock extra_js %}

</body>
</html>
